In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('ex_2.csv')

In [6]:
df.head(10)

,Name,Twitter_username,Account_start_time,Account_ID,Sex,Birthplace,Birthday,Age,Instagram_username,Political_party
0,A. Donald McEachin,RepMcEachin,2017-01-03T00:00:00Z,816181091673448448,male,Germany,1961-10-10T00:00:00Z,59.0,repmceachin,Democratic Party
1,Aaron Michlewitz,RepMichlewitz,2010-06-27T00:00:00Z,160246973,male,United States of America,1978-01-01T00:00:00Z,42.0,NaN,Democratic Party
2,Aaron Peskin,AaronPeskin,2010-11-13T00:00:00Z,215369273,male,United States of America,1964-06-17T00:00:00Z,56.0,apeskin52,Democratic Party
3,Aaron Peña,AaronPena,2007-10-31T00:00:00Z,9843332,male,United States of America,1959-06-08T00:00:00Z,61.0,NaN,Republican Party
4,Aaron Schock,aaronschock,2009-03-12T00:00:00Z,23951197,male,United States of America,1981-05-28T00:00:00Z,39.0,aaronschock,Republican Party
5,Abby Finkenauer,Abby4Iowa,2013-03-12T00:00:00Z,1262017122,female,United States of America,1988-12-27T00:00:00Z,31.0,abby4iowa,Democratic Party
6,Abigail Spanberger,SpanbergerVA07,2018-12-28T00:00:00Z,1078771401497161728,female,United States of America,1978-08-01T00:00:00Z,42.0,repspanberger,Democratic Party
7,Abigail Spanberger,RepSpanberger,2018-12-28T00:00:00Z,1078771401497161728,female,United States of America,1978-08-01T00:00:00Z,42.0,repspanberger,Democratic Party
8,Abigail Spanberger,SpanbergerVA07,2017-07-06T00:00:00Z,882958562296819714,female,United States of America,1978-08-01T00:00:00Z,42.0,repspanberger,Democratic Party
9,Abigail Spanberger,RepSpanberger,2017-07-06T00:00:00Z,882958562296819714,female,United States of America,1978-08-01T00:00:00Z,42.0,repspanberger,Democratic Party

In [10]:
df_dropped = df.drop('Birthplace',axis=1)
df_dropped.head(10)

,Name,Twitter_username,Account_start_time,Account_ID,Sex,Birthday,Age,Instagram_username,Political_party
0,A. Donald McEachin,RepMcEachin,2017-01-03T00:00:00Z,816181091673448448,male,1961-10-10T00:00:00Z,59.0,repmceachin,Democratic Party
1,Aaron Michlewitz,RepMichlewitz,2010-06-27T00:00:00Z,160246973,male,1978-01-01T00:00:00Z,42.0,NaN,Democratic Party
2,Aaron Peskin,AaronPeskin,2010-11-13T00:00:00Z,215369273,male,1964-06-17T00:00:00Z,56.0,apeskin52,Democratic Party
3,Aaron Peña,AaronPena,2007-10-31T00:00:00Z,9843332,male,1959-06-08T00:00:00Z,61.0,NaN,Republican Party
4,Aaron Schock,aaronschock,2009-03-12T00:00:00Z,23951197,male,1981-05-28T00:00:00Z,39.0,aaronschock,Republican Party
5,Abby Finkenauer,Abby4Iowa,2013-03-12T00:00:00Z,1262017122,female,1988-12-27T00:00:00Z,31.0,abby4iowa,Democratic Party
6,Abigail Spanberger,SpanbergerVA07,2018-12-28T00:00:00Z,1078771401497161728,female,1978-08-01T00:00:00Z,42.0,repspanberger,Democratic Party
7,Abigail Spanberger,RepSpanberger,2018-12-28T00:00:00Z,1078771401497161728,female,1978-08-01T00:00:00Z,42.0,repspanberger,Democratic Party
8,Abigail Spanberger,SpanbergerVA07,2017-07-06T00:00:00Z,882958562296819714,female,1978-08-01T00:00:00Z,42.0,repspanberger,Democratic Party
9,Abigail Spanberger,RepSpanberger,2017-07-06T00:00:00Z,882958562296819714,female,1978-08-01T00:00:00Z,42.0,repspanberger,Democratic Party

In [14]:
df.groupby('Sex').agg({'Political_party':'count'})

                    Political_party
Sex
female                          730
male                           1779
transgender female                4
transgender male                  1

In [16]:
df.iloc[:5,8]

0    repmceachin
1            NaN
2      apeskin52
3            NaN
4    aaronschock
Name: Instagram_username, dtype: object

In [17]:
desc = df['Name'].describe()
desc

count           2514
unique          1806
top       Ben Carson
freq              12
Name: Name, dtype: object

In [18]:
df_row_dropped = df.drop(2,axis=0)

In [19]:
df_row_dropped.head()

,Name,Twitter_username,Account_start_time,Account_ID,Sex,Birthplace,Birthday,Age,Instagram_username,Political_party
0,A. Donald McEachin,RepMcEachin,2017-01-03T00:00:00Z,816181091673448448,male,Germany,1961-10-10T00:00:00Z,59.0,repmceachin,Democratic Party
1,Aaron Michlewitz,RepMichlewitz,2010-06-27T00:00:00Z,160246973,male,United States of America,1978-01-01T00:00:00Z,42.0,NaN,Democratic Party
3,Aaron Peña,AaronPena,2007-10-31T00:00:00Z,9843332,male,United States of America,1959-06-08T00:00:00Z,61.0,NaN,Republican Party
4,Aaron Schock,aaronschock,2009-03-12T00:00:00Z,23951197,male,United States of America,1981-05-28T00:00:00Z,39.0,aaronschock,Republican Party
5,Abby Finkenauer,Abby4Iowa,2013-03-12T00:00:00Z,1262017122,female,United States of America,1988-12-27T00:00:00Z,31.0,abby4iowa,Democratic Party

In [21]:
df.columns
df_renamed = df.rename(columns = {'Account_ID':'ID'})

In [22]:
df_renamed.head()

,Name,Twitter_username,Account_start_time,ID,Sex,Birthplace,Birthday,Age,Instagram_username,Political_party
0,A. Donald McEachin,RepMcEachin,2017-01-03T00:00:00Z,816181091673448448,male,Germany,1961-10-10T00:00:00Z,59.0,repmceachin,Democratic Party
1,Aaron Michlewitz,RepMichlewitz,2010-06-27T00:00:00Z,160246973,male,United States of America,1978-01-01T00:00:00Z,42.0,NaN,Democratic Party
2,Aaron Peskin,AaronPeskin,2010-11-13T00:00:00Z,215369273,male,United States of America,1964-06-17T00:00:00Z,56.0,apeskin52,Democratic Party
3,Aaron Peña,AaronPena,2007-10-31T00:00:00Z,9843332,male,United States of America,1959-06-08T00:00:00Z,61.0,NaN,Republican Party
4,Aaron Schock,aaronschock,2009-03-12T00:00:00Z,23951197,male,United States of America,1981-05-28T00:00:00Z,39.0,aaronschock,Republican Party