In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score

In [4]:
df = pd.read_csv('diabetes.csv')
df.head()

,PatientID,Glucose,Pressure,Triceps,Insulin,Mass,Pedigree,Age,Diabetes
0,10001,89,66,23,94,28.1,0.167,21,0
1,10002,137,40,35,168,43.1,2.288,33,1
2,10003,78,50,32,88,31.0,0.248,26,1
3,10004,197,70,45,543,30.5,0.158,53,1
4,10005,189,60,23,846,30.1,0.398,59,1

In [5]:
x = df.iloc[:,[4,7]]
y = df.iloc[:,8]

In [6]:
x.head()

   Insulin  Age
0       94   21
1      168   33
2       88   26
3      543   53
4      846   59

In [7]:
y.head()

0    0
1    1
2    1
3    1
4    1
Name: Diabetes, dtype: int64

In [8]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.25, random_state=0)

In [9]:
sc_x = StandardScaler()
xtrain = sc_x.fit_transform(xtrain)
xtest = sc_x.transform(xtest)

In [10]:
print(xtrain[0:10, :])

[[ 0.28085796 -0.67204882]
 [ 1.35876151  0.40496103]
 [-0.81313372  0.20914106]
 [-0.43506306 -0.86786879]
 [-0.99010296 -0.47622884]
 [-0.57181202  0.40496103]
 [ 0.07171249  1.77570083]
 [-0.3546225  -0.57413883]
 [-0.99010296 -0.67204882]
 [-0.3546225  -0.28040887]]

In [11]:
classifier = LogisticRegression(random_state=0)
classifier.fit(xtrain, ytrain)
y_pred = classifier.predict(xtest)

In [12]:
accuracy = accuracy_score(ytest, y_pred)
precision = precision_score(ytest, y_pred)
recall = recall_score(ytest, y_pred)
f1 = f1_score(ytest, y_pred)

In [13]:
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)

Accuracy: 0.7857142857142857
Precision: 0.8333333333333334
Recall: 0.45454545454545453
F1 Score: 0.5882352941176471